<div class="page__header">
  <h1 class="page__title"><%= @post.title %></h1>
</div>

<article class="post">
  <% if @post.image.attached? %>
    <div class="post__image">
      <%= image_tag @post.image, alt: @post.title %>
    </div>
  <% end %>

  <div class="post__content">
    <%= @post.content %>
  </div>

  <div class="post__actions">
    <% if authenticated? %>
      <%= link_to "Edit", edit_post_path(@post), class: "button button--primary post__edit" %>
    <% end %>
    <%= link_to "Back", posts_path, class: "button button--secondary post__back" %>
    <% if authenticated? %>
      <%= button_to "Delete", @post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button button--danger post__delete" %>
    <% end %>
  </div>
</article>
