<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Miniportfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="page">
    <nav class="navbar">
      <div class="navbar__container">
        <div class="navbar__brand">
          <%= link_to 'Miniportfolio', root_path, class: 'navbar__brand-link' %>
        </div>

        <ul class="navbar__links">
          <li class="navbar__item"><%= link_to 'Posts', posts_path, class: 'navbar__link' %></li>
          <li class="navbar__item"><%= link_to 'About', about_path, class: 'navbar__link' %></li>
          <% if authenticated? %>
            <li class="navbar__item"><%= link_to 'New Post', new_post_path, class: 'navbar__link' %></li>
          <% end %>
        </ul>

        <div class="navbar__actions">
          <% if authenticated? %>
            <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: 'button button--secondary' %>
          <% else %>
            <%= link_to 'Login', login_path, class: 'button button--secondary' %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
